
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

@{
    if (ViewBag.Success != null)
    {
        <p class="alert-success">Success! @(ViewBag.Success)</p>
    }
    else if (ViewBag.Error != null)
    {
        <p class="alert-danger">Error! @(ViewBag.Error)</p>
    }
}

<form action="/Person/Create" method="get">
    <div>
        <label for="name">Name</label>
        <input type="text" id="name" name="name" value="@(ViewBag.Name)" />
    </div>
    <div>
        <label for="email">Email Address</label>
        <input type="text" id="email" name="email" value="@(ViewBag.Email)" />
    </div>
    <div>
        <label for="phone">Phone Number</label>
        <input type="text" id="phone" name="phone" value="@(ViewBag.Phone)" />
    </div>
    <button type="submit">Go!</button>
</form>

