
@{
    ViewData["Title"] = "Details";
}

<h1>Details - @(ViewBag.Person.ID)</h1>

<p>Name: @(ViewBag.Person.Name)</p>
<p>Email: @(ViewBag.Person.Email)</p>
<p>Phone: @(ViewBag.Person.Phone)</p>

<a href="/Person/Details?id=@(ViewBag.Person.ID)&delete=true">Delete @(ViewBag.Person.Name)</a>

