
@{
    ViewData["Title"] = "Output";

    // #3: Modify the output on the Output page to add some fun facts about the data inputted.
    // - First Letter of First Name
    // - First Letter of Last Name (Assume 2 word names)
    // - Length of First Name
    // - Length of Last Name
    // - Domain of Email (ex "example.com")
    // - Area code of phone number (Assume 1-###-234-3456 OR ###-456-9876)

    string[] names = ViewBag.Name.Split(' ');
    string[] splitEmail = ViewBag.Email.Split('@');
    string[] phoneSegments = ViewBag.Phone.Split('-');
}

<h1>Output</h1>

<p>Hello, @(ViewBag.Name)! I've been told that I can contact you at @(ViewBag.Email), or by phone at @(ViewBag.Phone).</p>

<p> The First Letter of Your First Name is: @(names[0][0]).</p>

<p> The First Letter of Your Last Name is:  @(ViewBag.Name.Substring(ViewBag.Name.Indexof(' ')+1,1)).</p> <!--  Other way @(names[1][0])-->

<p> Length Of First Name is: @(names[0].Length).</p>

<p> Length of Last Name is: @(names[1].Length ).</p>

<p>The domain of your email address is @(splitEmail[1]).</p>

<p>The area code of your phone number is @(phoneSegments[0] == "1" ? phoneSegments[1] : phoneSegments[0]).</p>